<%# coucou <%= current_user.email %>
<div class="container mx-auto">
  <div class="row">
    <div class="col-12 col-md-6">
      <h2>MES OBJETS</h2>
      <div class="">
        <% @my_products.each do |product| %>
          <div class="card-product mb-2">
            <%= cl_image_tag product.photo.key %>
            <div class="card-product-infos">
              <h2><%= product.name %></h2>
              <p><%= product.description %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <h2>MES RÉSERVATIONS</h2>
      <% @my_booked_products.each do |product| %>
        <div class="card-product mb-2">
          <%= cl_image_tag product.photo.key %>
          <div class="card-product-infos">
            <h2><%= product.name %></h2>
            <p><%= product.description %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
