<%# <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> %>
<div class="banner mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://cdn.shopify.com/s/files/1/2531/1666/files/Capture_d_ecran_2022-02-25_a_12.14.10_480x480.png?v=1645787659');">
  <div class="container">
    <h1><strong>BEFORE THROWING</strong></h1>
    <p>Faites le savoir!</p>
    <%= link_to 'Ajouter un objet', new_product_path, class: 'btn btn-warning' %>
    <%= link_to 'Voir tous les objets', products_path, class: 'btn btn-warning' %>
  </div>
</div>

<div class="container">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag 'images bouchon.jpg', height: 350, class: 'd-block w-100' %>
      </div>
      <div class="carousel-item">
        <%= image_tag 'chaise_revalorisee.jpg', height: 350, class: 'd-block w-100' %>
      </div>
      <div class="carousel-item">
        <%= image_tag 'decharge3.jpg', height: 350, class: 'd-block w-100' %>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="container">
  <div class="card-center mt-3 mb-3" style="width: 18rem;">
    <p>L'upcycling est bien plus qu'une tendance car il soutient également une économie circulaire. L'économie circulaire est un système dans lequel les biens sont utilisés et réutilisés plusieurs fois au lieu d'être jetés après une seule utilisation.</p>
  </div>
</div>
