<div class="banner mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://www.maisonapart.com/images/auto/640-480-c/20090924_142207_1max-room-cush.jpg');">
  <div class="container">
    <h1><strong>BEFORE THROWING</strong></h1>
    <p>Avant de jeter, faites le savoir!</p>
    <%= link_to 'Voir tous les objets', products_path, class: 'btn btn-secondaire' %>
    <%= link_to 'Ajouter un objet', new_product_path, class: 'btn btn-principal' %>
  </div>
</div>

<div class="container">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag 'diy.jpg', height: 350, class: 'd-block w-100', style: 'object-fit: cover;' %>
      </div>
      <div class="carousel-item">
        <%= image_tag 'uppp.webp', height: 350, class: 'd-block w-100', style: 'object-fit: cover;' %>
      </div>
      <div class="carousel-item">
        <%= image_tag 'Montage upcy.jpg', height: 350, class: 'd-block w-100', style: 'object-fit: cover;' %>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="d-flex flex-column justify-content-center text-center mt-4 mb-4">
    <%# <div class=" text-center mb-4" style="width: 18rem;">
      <p>L'upcycling est bien plus qu'une tendance car il soutient également une économie circulaire. L'économie circulaire est un système dans lequel les biens sont utilisés et réutilisés plusieurs fois au lieu d'être jetés après une seule utilisation.</p>
    </div> %>
  <div>
    <p>L'upcycling est bien plus qu'une tendance car il soutient également une économie circulaire. L'économie circulaire est un système dans lequel les biens sont utilisés et réutilisés plusieurs fois au lieu d'être jetés après une seule utilisation.</p>
    <div class="d-flex justify-content-center">
      <video controls>
        <source src="https://res.cloudinary.com/dbu9ebniv/video/upload/v1669648887/Accros_des_d%C3%A9chets_une_nouvelle_pathologie_encore_tabou_en_Martinique_s1gdxm.mp4" type="video/mp4">
        <p>Votre navigateur ne prend pas en charge les vidéos HTML5.</p>
      </video>
    </div>
  </div>
  </div>
  <div class="container d-flex justify-content-center text-center mt-5">
  <div>
    <h3><strong>DERNIERS OBJETS AJOUTÉS PAR NOS UTILISATEURS:</strong><% @products.last %></h3>
  </div>
  </div>
  <div class="d-flex flex-justify-content-center text-center">
  </div>
    <div class="d-flex flex-columnjustify-content-center">
    </div>
      <div class="cards shadow-lg p-3 mb-5 bg-body rounded">
        <% @last_4_products.each do |product| %>
          <div class="card card-index-product">
            <%= cl_image_tag product.photo.key, class: "card-img-top squared object-cover" %>
            <div class="card-body">
              <h5 class="card-title"><strong>NOM: </strong><%= product.name %></h5>
              <p class="card-text"><strong>ÉTAT: </strong><%= product.state %></p>
              <%= link_to 'Voir les détails', product_path(product), class: 'btn btn-warning' %>
            </div>
          </div>
        <% end %>
      </div>
  </div>
  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="pk.eyJ1IjoiZWltc2VlIiwiYSI6ImNsYWxoYjN1ZTA1amkzcW50dG9lOXZvencifQ.HwOYmj6MTzhZQVUsLFqubQ">
  </div>

</div>

<div class="banner mt-3 mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://cdn-s-www.ledauphine.com/images/F5A321CF-FF00-4716-8A3A-C2BA617290DE/NW_raw/la-laine-de-verre-et-les-dechets-verts-laisses-a-meme-le-sol-sur-le-terrain-on-peut-aussi-y-trouver-de-la-toiture-en-amiante-des-meubles-des-planches-et-meme-des-piscines-hors-sol-photos-le-dl-s-pe-1598814474.jpg');">
  <div class="container">
  <div class="text-white">
    <h2><strong>ÉVITONS CELA</strong></h2>
  </div>
  </div>
</div>
