<%# <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> %>
<div class="banner mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @product.photo.key, height: 300, crop: :fill if @product.photo.attached? %>');">
  <div class="container">
    <h1><strong>BEFORE THROWING</strong></h1>
    <p>Faites le savoir!</p>
    <%= link_to 'Ajouter un objet', new_product_path, class: 'btn btn-primary' %>
    <%= link_to 'Voir tous les objets', products_path, class: 'btn btn-primary' %>
  </div>
</div>

<div class="container">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag 'decharge5.jpg', height: 350, class: 'd-block w-100' %>
      </div>
      <div class="carousel-item">
        <%= image_tag 'decharge2.jpg', height: 350, class: 'd-block w-100' %>
      </div>
      <div class="carousel-item">
        <%= image_tag 'decharge3.jpg', height: 350, class: 'd-block w-100' %>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div>
  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
</div>
