<div class="container my-3">
  <h1 class="text-center mb-4">TOUS LES OBJETS</h1>
  <%= simple_form_for :search, url: products_path, method: :get, html: {class: 'mb-2' } do |f| %>
    <div class="search-form-control form-group">
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Entrez le nom d'un objet"
      %>
      <%= submit_tag "Rechercher", class: "btn btn-principal" %>
    </div>
  <% end %>
  <div class="cards shadow-lg p-3 mb-5 bg-body rounded">
    <% @products.each do |product| %>
      <div class="card card-index-product">
        <%= cl_image_tag product.photo.key, class: "card-img-top squared object-cover" if product.photo.attached? %>
        <div class="card-body">
          <h5 class="card-title"><%= product.name %></h5>
          <p class="card-text">ÉTAT: <%= product.state %></p>
          <%= link_to 'Voir les détails', product_path(product), class: 'btn btn-secondaire' %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="rounded w-100" style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="pk.eyJ1IjoiZWltc2VlIiwiYSI6ImNsYWxoYjN1ZTA1amkzcW50dG9lOXZvencifQ.HwOYmj6MTzhZQVUsLFqubQ"></div>
</div>
