<%# <h1>Products#show</h1>
<p>Find me in app/views/products/show.html.erb</p> %>
<div class="container mx-auto">
  <div class="row">
    <div class="col-12 md:col-6">
      <%= cl_image_tag @producte.photo.key, style: 'width: 100%; max-height: 60vh; display: block; object-fit: contain;' %>
    </div>
    <div class="col-12 md:col-6">
      <h5 class="card-title"><%= @producte.name %></h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>DESCRIPTION:</strong><%= @producte.description %></li>
        <li class="list-group-item"><strong>ADDRESS:</strong><%= @producte.address %></li>
        <li class="list-group-item"><strong>STATE:</strong><%= @producte.state %></li>
      </ul>
      <div class="">
        <%= simple_form_for([@producte, @booking]) do |f| %>
          <%= f.input :date, html5: true %>
          <%= f.input :message %>
          <%= f.submit %>
        <% end %>
      </div>
      <%#= link_to 'BOOK NOW', product_bookings_path(@product), data: { turbo_method: 'POST' }, class: 'btn btn-primary' %>
    </div>
    <div style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="pk.eyJ1IjoiZWltc2VlIiwiYSI6ImNsYWxoYjN1ZTA1amkzcW50dG9lOXZvencifQ.HwOYmj6MTzhZQVUsLFqubQ"></div>
  </div>
</div>
